
div { 
	outline: 1px solid #cccccc;

}
#main-content {
	width: 960px;
	height: 600px;	
	

}

.button-holder {
	width: 180px;
	float: left;
		
}

.button {
	width: 60px;
	padding: 8px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	float: left;
	text-align: center
	margin: 4px;
	cursor: pointer;
}

.disabled{
	cursor: default;
	border-color: gray;
	color: gray;
	background-color: black;
		
}
.image-holder {
	width: 600px;
	height: 345px;
	float: left;
	
}
